@import "../../../../assets/css/variables.css";

.verification-header-item {
  margin-left: 35px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  &_active {
    border-bottom: 2px solid var(--color-light-pink);
  }

  &__text {
    color: var(--color-purple);
    text-decoration: none;
  }
}