:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #80b822;
  --color-red: #e5182c;
  --color-gray: #eaeaea;
  --color-light-pink: #8b8ca9;
  --color-middle-pink: #989AD7;
  --color-purple: #3b3e99;
  --color-dark-purple: #2e3177;
  --color-light-gray: #ededfa;
  --color-light-blue: #aad8e6;
}