@import "../../../assets/css/variables.css";

.panel-header {
  justify-content: space-between;
  display: flex;

  &__user {
    padding: 13px 15px 15px 15px;

    &-name {
      color: var(--color-white);
    }

    &-status {
      background-color: var(--color-purple);
    }
  }

  &__icons {
    align-items: center;
    display: flex;
  }

  &__dropdown-items {
    max-width: 241px;
    margin-top: 15px;
    right: 27px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    fill: var(--color-white);
    cursor: pointer;
  }
}